<div>
  <h1>Control de regalos hechos</h1>
  <p>Aqui puede marcar cuando el agasajado reciba su regalo</p>
</div>
<div class="panel panel-primary">

  <table class="table">
    <thead class="thead-inverse">
    <tr>
      <th align="center">Nombre</th>
      <th align="center">Email</th>
      <th align="center">Fecha de cumpleaños</th>
      <th align="center">¿Recibio el regalo?</th>
      <th align="center">Fecha de recepcion</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="worker in workers">
      <td>{{worker.fullName}}</td>
      <td>{{worker.eMail}}</td>
      <td>{{worker.dateOfBirth | date}}</td>
      <td>
        <div class="button">
            <button type="button" ng-click="markReceived(worker.id)" class="btn btn-xs btn-success">Recibido</button>
            <button type="button" ng-click="deleteReceivedMark()" class="btn btn-xs btn-danger">Borrar</button>
        </div>
      </td>
      <td>{{worker.giftDateReceived | date}}</td>
    </tr>
    </tbody>
  </table>
</div>

