<div class="list_data">

  <div class="clearfix">
    <h1>Relaciones entre pinos</h1>
    <button id="addRelationButon" ng-click="openModalForAssign()" class="btn btn-primary btn-md inline pull-right">
      <span class="glyphicon glyphicon-plus"> Agregar</span>
    </button>
  </div>

  <div class="panel panel-primary">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Participante</th>
        <th>Pino cumpleañero</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="fr in friendRelations | filter:notNull">
        <td>{{fr.giftGiver.fullName}}</td>
        <td>{{fr.giftReceiver.fullName}}</td>
        <!--<td><button class="btn btn-group-justified" ng-click="deleteRelation(fr)">Borrar relacion</button></td>-->
      </tr>
      </tbody>
    </table>
  </div>
</div>
