<h1>Estado del juego</h1>

<div class="clearfix">
  <h4>Relaciones entre pinos</h4>
</div>

<div class="panel panel-primary">
  <form class="navbar-form" name="form" ng-submit="ok()">
    <table class="table table-striped center-vertical">
      <thead>
      <tr>
        <th colspan="2">Participante</th>
        <th></th>

        <th colspan="2">Agasajado</th>
        <th></th>
        <th colspan="2">Cumplió?</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="fr in friendRelations" >
        <td>{{fr.giftGiver.fullName}}</td>
        <td></td>
        <td>
        <td>{{fr.giftReceiver.fullName}}</td>
        </td>
        <td></td>
        <td></td>
        <td>
          {{hasGiverGiveGift(fr.giftGiver)}}</td>
      </tr>
      </tbody>
    </table>

  </form>
</div>