
<h1>Configuración de regalo default</h1>

<div class="well">
  <form class="navbar-form" name="form" ng-submit="change()">
    <div class="row">
      <label class="control-label col-md-5" for="subject">Monto default:</label>
      <input id="subject" class="form-control" ng-model="defaultGift.amountDefault"/>
    </div>
    <div class="row">
      <label class="control-label col-md-5" for="body">
        <span id="helpBlock" class="help-block">Regalo default:</span>
      </label>
      <textarea id="body" style="max-width: 100%; height: 200px;widht: 300px" class="form-control col-md-5" ng-model="defaultGift.giftDefault"></textarea>
    </div>

    <div class="row">
      <button type="submit" class="btn btn-default">Aceptar</button>
    </div>
  </form>
</div>

