<div class="list_data">

  <div class="clearfix">
    <h1>Mails no enviados</h1>
  </div>
  <div class="panel panel-primary" ng-controller="MailsFailureController">
    <form class="navbar-form" name="form" ng-submit="mailsFailure()">
      <table class="table table-striped">
        <thead>
        <tr>
          <th colspan="3">Agasajado</th>
          <th colspan="3">Contenido</th>
          <th>Error</th>
          <th>Reenviar</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="msg in messageFailure" >
          <td colspan="3">{{msg.recipient}}</td>
          <td colspan="3">{{msg.body}}</td>
          <td>{{msg.error}}</td>
          <td>
            <a ng-click="send(msg)">
            <span class="glyphicon glyphicon-send"></span>
            </a>
          </td>
        </tr>
        </tbody>
      </table>


    </form>
  </div>

</div>

