
<h1>Configuracion del envio de mails</h1>

<div class="well">
  <form class="navbar-form" name="form" ng-submit="change()">
    <div class="field">
      <label class="control-label col-md-5" for="subject">Asunto: </label>
      <input id="subject" class="form-control" ng-model="mail.subject">
    </div>
    <div class="field">
      <label class="control-label col-md-5" for="body">Cuerpo: </label>
      <textarea id="body" class="form-control" ng-model="mail.bodyText"></textarea>
    </div>
    <div class="field">
      <label for="active" class="control-label col-md-5" for="body">Envio de mails automaticos</label>
      <toggle-switch id="active" ng-model="mail.active" on-label="Sí" off-label="No"><toggle-switch>

    </div>
    <div class="action">
      <button type="submit" class="btn btn-default">Aceptar</button>
    </div>
  </form>
</div>






