
<div class="jumbotron">

  <h1>Amigo invisible</h1>
  <p class="lead">
    <img src="images/logo.png" alt="10 pines"><br>
    Para los pinos cumpleañeros!
  </p>

</div>

  <h2>En que consiste</h2>
  <h4>Cualquier otra consulta podes hacerla con la administradora de este año a: <strong>{{admin.fullName}}</strong> (<a href="mailto:{{admin.eMail}}">{{admin.eMail}}</a>)</h4>

  <p align="justify">Una vez por año, se te asigna como amigo invisible de un pino, a quien debes hacerle un regalo en su cumpleaños.
    De la misma forma, serás asignado a otra persona de la empresa con el mismo propósito.
    Podés sumarte a esta actividad en cualquier momento del año, y es opcional participar en ella.
    Existe una lista de “deseos” que te permite orientarte en el caso de que no sepas qué regalar!
    Si conoces los gustos de algún pino y querés ayudar a su amigo invisible podés proponer un regalo.</p>




