<div class="modal-header">
  <h3 class="modal-title">Asignar Amigo!</h3>
</div>
<div class="modal-body">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Secret Pal</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="p in participants">
      <td>{{p.giftGiver.fullName}}</td>
      <td><select ng-model="p.giftReceiver" ng-options="participant.giftGiver as participant.giftGiver.fullName for participant in participants"></select></td>
    </tr>
    </tbody>
  </table>
</div>

<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">OK</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>


