<script type="text/ng-template" id="editModalWish.html">
    <div class="modal-header">
      <h3 class="modal-title">Editando los deseos de {{wish.worker.fullName}}</h3>
    </div>
    <div class="modal-body">
        <input type="text" ng-model="wish.gift">
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()" ng-enter="ok();">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancelar</button>
    </div>
</script>


<h1>Wish List</h1>
<div class="panel panel-primary">
    <table class="table table-striped">
        <thead>
        <tr>
            <th class="col-md-3">Quien</th>
            <th class="col-md-3">Deseo</th>
            <th class="col-md-1">Editar</th>
            <th class="col-md-1">Borrar</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="wish in wishlist">
          <td>{{wish.worker.fullName}}</td>
            <td>{{wish.gift}}</td>
            <td><a ng-click="Edit(wish)"><span class="glyphicon glyphicon-pencil"></span></a></td>
            <td><a ng-click="Delete(wish)" ng-show="canDelete(wish)"><span class="glyphicon glyphicon glyphicon-remove"></span></a></td>
        </tr>
        </tbody>
    </table>
</div>

<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#add_wish" aria-expanded="false" aria-controls="add_wish" id="add_wish_button">
  Agrega un nuevo Deseo!
</button>
<div class="collapse" id="add_wish">
  <div class="well">
    <form class="navbar-form" name="form" ng-submit="Add()">
      <div class="field">
        <label class="control-label col-md-4">Pino: </label>
        <select required ng-options="worker as worker.fullName for worker in posibleWorkers" ng-model="wish.worker"><option></option></select>

      </div>
      <div class="field">
        <label class="control-label col-md-4" for="mail">Regalo: </label>
        <input id="mail" required placeholder="Gift" class="form-control" ng-model="wish.gift">
      </div>
      <div class="action">
        <button type="submit" class="btn btn-default">Agregar</button>
      </div>
    </form>
    <button class="btn btn-default" ng-click="Reset()">Resetear</button>
  </div>
</div>
