<div class="list_data">
  <h1>Workers' List</h1>
  <div class="panel panel-primary">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Birthday Date</th>
          <th>Participating?</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="worker in workers">
          <td>{{worker.name}}</td>
          <td>{{worker.eMail}}</td>
          <td>{{worker.birthdayDate | date }}</td>
          <td><input type="checkbox" name="selectedParticipants[]" value="{{worker.name}}" ng-model="worker.participating"></td>
          <td><button class="btn btn-group-justified" ng-click="Delete($index)">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <button class="btn btn-info" id="undo_delete_button" ng-show="history.length > 0" ng-click="Undo()">Undo Delete</button>
</div>

<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#add_worker" aria-expanded="false" aria-controls="add_worker" id="add_worker_button">
  Add a new Worker!
</button>
<div class="collapse" id="add_worker">
  <div class="well">
      <form class="navbar-form" name="form" ng-submit="Add()">
        <div class="field">
          <label class="control-label col-md-4" for="name">Name: </label>
          <input type="text" id="name" name="name" placeholder="Name" class="form-control" ng-pattern="/[a-zA-Z]/" ng-model="newWorker.name" required unique ng-model-options="{ debounce: 500 }">
          <span ng-show="form.newName.$error.unique">This worker is already in!</span>
        </div>
        <div class="field">
          <label class="control-label col-md-4" for="mail">Email: </label>
          <input id="mail" required type="email" placeholder="Email" class="form-control" ng-model="newWorker.eMail">
        </div>
        <div class="field">
          <label class="control-label col-md-4" for="date">Date of Birthday: </label>
          <p class="input-group">
            <input id="date" required type="text" class="form-control" datepicker-popup="[yyyy-MM-dd]" ng-model="newWorker.birthdayDate" is-open="opened" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
          </p>
        </div>
        <div class="action">
          <button type="submit" class="btn btn-default">Add</button>
        </div>
      </form>
      <button class="btn btn-default" ng-click="Reset()">Reset</button>
  </div>
</div>




