<div class="list_data">
  <h1>Workers' List</h1>
  <div class="panel panel-primary">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Birthday Date</th>
          <th>Participating?</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="worker in workers">
          <td>{{worker.name}}</td>
          <td>{{worker.mail}}</td>
          <td>{{worker.date | date}}</td>
          <td><input type="checkbox" name="selectedParticipants[]" value="{{worker.name}}" ng-model="worker.participating"></td>
          <td><button class="btn btn-danger" ng-click="Delete($index)">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <button class="btn btn-info" ng-show="history.length > 0" ng-click="Undo()">Undo Delete</button>
</div>

<div class="add_worker">
  <h2>Add A Worker</h2>
  <form class="navbar-form" name="form" ng-submit="Add()">
    <div class="field">
      <label class="control-label col-md-4" for="name">Name: </label>
      <input type="text" id="name" name="newName" placeholder="Name" class="form-control" ng-pattern="/[a-zA-Z]/" ng-model="newName" required unique ng-model-options="{ debounce: 500 }">
      <span ng-show="form.newName.$error.unique">This worker is already in!</span>
    </div>
    <div class="field">
      <label class="control-label col-md-4" for="mail">Email: </label>
      <input id="mail" required type="email" placeholder="Email" class="form-control" ng-model="newMail">
    </div>
    <div class="field">
      <label class="control-label col-md-4" for="date">Date of Birthday: </label>
      <input id="date" required type="date" class="form-control" ng-model="newDate" max="2000-12-31">
    </div>
    <div class="action">
      <button type="submit" class="btn btn-default">Add</button>
    </div>
  </form>
  <button class="btn btn-default" ng-click="Reset()">Reset</button>
</div>
