<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/task
        http://www.springframework.org/schema/task/spring-task-3.0.xsd">

    <!-- beans de spring -->

    <bean id="transactionManager"
          class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.postgresql.Driver"/>
        <property name="url" value="jdbc:postgresql://ec2-54-204-0-120.compute-1.amazonaws.com:5432/d73tgocaa7svd"/>
        <property name="username" value="yjgmszexkhjdhd"/>
        <property name="password" value="opHbHv0GIClRTznF7Vn-bVyKyV"/>
    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
            </props>
        </property>
        <property name="packagesToScan" value="com.tenPines.model"/>
    </bean>

    <!-- Testing beans to be accesed by the tests -->


    <bean id="databaseWishlist" class="com.tenPines.persistence.DatabaseWishlist"></bean>
    <bean id="databaseWorkerDao" class="com.tenPines.persistence.DatabaseWorkerDao"></bean>
    <bean id="secretPalDatabase" class="com.tenPines.persistence.DatabaseSecretPalEventDao"></bean>
    <bean id="failedMails" class="com.tenPines.persistence.DatabaseFailedMails"></bean>

    <bean id="realClock" class="com.tenPines.model.RealClock"></bean>

    <bean id="smtpPostMan" class="com.tenPines.mailer.SMTPPostMan"></bean>
    <bean id="failProofPostMan" class="com.tenPines.mailer.FailProofPostMan">
        <property name="failedMails" ref="databaseFailedMails"/>
        <property name="postMan" ref="smtpPostMan"/>
    </bean>


    <!-- Application beans -->

    <bean id="secretPalSystem" class="com.tenPines.application.SecretPalSystem">
        <property name="workerRepository" ref="databaseWorkerDao"/>
        <property name="secretPalEventRepository" ref="secretPalDatabase"/>
        <property name="wishRepository" ref="databaseWishlist"/>
        <property name="clock" ref="realClock"/>
        <property name="safePostMan" ref="failProofPostMan"/>
    </bean>

    <context:component-scan base-package="com.tenPines"/>

    <tx:annotation-driven transaction-manager="transactionManager"/>
    <task:annotation-driven/>
    <mvc:annotation-driven/>
    <mvc:default-servlet-handler/>

</beans>

